@import "tailwindcss";

@theme {
  /* GREY */
  --color-grey: #717171;
  --color-grey-5: #868686;
  --color-grey-10: #6d6d6d;
  --color-grey-20: #6b6b6b;
  --color-grey-30: #686868;
  --color-grey-40: #545454;
  --color-grey-45: #434343;
  --color-grey-50: #333333;
  --color-grey-55: #3c3c3c;
  --color-grey-56: #3a3a3a;
  --color-grey-58: #313131;
  --color-grey-60: #d9d9d9;
  --color-grey-62: #c7c7c7;
  --color-grey-63: #cacaca;
  --color-grey-64: #e0e0e0;
  --color-grey-66: #f5f5f5;
  --color-grey-68: #e5e3df;
  --color-grey-69: #bdbdbd;
  --color-grey-70: #d1d1d799;
  --color-grey-71: #777777;
  --color-grey-72: #d7d7d7;
  --color-grey-75: #d9d9d9b3;
  --color-grey-76: #d9d9d980;
  --color-grey-78: #00000040;
  --color-grey-79: #00000073;
  --color-grey-80: #0000007a;
  --color-grey-81: #000000a6;
  --color-grey-82: #00000099;
  --color-grey-83: #ffffffcc;
  --color-grey-85: #ffffff4d;
  --color-grey-84: #757575;
  --color-grey-90: #a6a6a6;

  /* BLUE */
  --color-blue: #017efe;
  --color-blue-2: #007dfe;
  --color-blue-5: #1664fa;
  --color-blue-10: #4096ff;
  --color-blue-15: #54a8ff;
  --color-blue-20: #878cff;
  --color-blue-25: #5a61ff;
  --color-blue-30: #5960ff;
  --color-blue-35: #7691ff;
  --color-blue-40: #5047efd9;
  --color-blue-45: #1677ff;
  --color-blue-50: #1a73e8;
  --color-blue-57: #f9fcff;
  --color-blue-58: #1d8ffb;
  --color-blue-65: #0053b5;
  --color-blue-60: #007dff;


  --color-blue-56: #f3f9ff;
  --color-blue-55: #e3f1ff;
  --color-blue-57: #f9fcff;

  /* RED */
  --color-red: #ff0000;
  --color-red-10: #ff4d4f;

  /* WHITE */
  --color-white: #ffffff;
  --color-white-5: #ffffffcc;

  /* BLACK */
  --color-black: #000000;
  --color-black-5: #0b0b0b;
  --color-black-10: #161616;
  --color-black-15: #1d1d1f;
  --color-black-20: #313131;
  --color-black-25: #444444;
  --color-black-30: #555555;
  --color-black-40: #000000e0;

  /* PURPLE */
  --color-purple: #551a8b;

  /* GREEN */
  --color-green: #44b678;
  --color-green-5: #c5f8dc;

  /* NAVY */
  --color-navy: #24537b;
  --color-navy-3: #e2f0ff;
  --color-sky: #dcedff;
  --color-sky-5: #f3f9ff;
  --color-sky-6:#e5f2ff;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"),
    url("./assets/fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/GTWalsheimPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GTWalsheimProBold"), local("GTWalsheimProBold"),
    url("./assets/fonts/GTWalsheimProBold.woff2") format("woff2"),
    url("./assets/fonts/GTWalsheimProBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GTWalsheimProMedium"), local("GTWalsheimProMedium"),
    url("./assets/fonts/GTWalsheimProMedium.woff") format("woff"),
    url("./assets/fonts/GTWalsheimProMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: GT Walsheim Pro;
}

body.no_scroll {
  overflow: hidden !important;
}